# Java / Maven
target/
*.class

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Environment files
.env
application-secret.properties

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node / React later
node_modules/
dist/
build/